.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7%;
    margin-right: 7%;
    /* setting margin on left and right to 7% because each comparison view has width 40%, and they're evenly spaced. 2*40 = 80, 100 - 80 = 20, 20 / 3 ~= 7% each.*/
}

/*https://stackoverflow.com/questions/19741145/bootstrap-navbar-fixed-top-covers-content*/
.analysisScreenWrapper {
    background-color: #1DB954;
    padding-top: 65px;
    text-align: center;
}

.AnalysisExtraInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

div.userComparisonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.userAnalysis {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border-radius: 1em;
    word-break: break-word;
}

#current {
    background-color: aqua;
}

#other {
    background-color: salmon;
}

div.comparisonView {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#compare-button {
    margin-top: 2em;
    background-color: black;
    border-color: black;
}

#generate-button {
    margin-top: 1%;
    background-color: black;
    border-color: black;
    width: 95%;
}

div.sharedDataWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.trackCard {
    margin-top: 1%;
    width: 95%;
}
