.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.analysisScreenWrapper {
    background-color: #1DB954;
}

.AnalysisExtraInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

div.userComparisonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.userAnalysis {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border-radius: 1em;
}

#current {
    background-color: aqua;
}

#other {
    background-color: salmon;
}

div.comparisonView {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#compare-button {
    margin-top: 2em;
    background-color: black;
    border-color: black;
}

#generate-button {
    background-color: black;
    border-color: black;
}

div.sharedDataWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
