.disabledLink {
    /*cursor: default;*/
    pointer-events: none;
    color: white;
}

#navContainer {
    margin-left: 0;
    /* max width of box containing links on navbar is 400*/
    max-width: 400px;
}

#navWrapper {
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
}
